*, html, body{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.hero-bg{
    background-image: url("../img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: cover;
    overflow: hidden;
}